@import '../variables.scss';

.checkout-wrapper {
	height: fit-content;
	display: flex;
	justify-content: center;
	width: 100%;
}

.checkout-outer {
	padding: 1em;
	background-color: #ffffff;
	border-radius: 5px;
	width: 100%;
}

.title-bar {
	display: flex;

	.checkout-title {
		margin-bottom: 0;
	}
}

.title-bar > :first-child {
	margin-right: 0.5em;
	height: min-content;
}

.title-bar > .back-button {
	margin-left: auto;
	margin-top: 0.25rem;
	margin-bottom: auto;
	cursor: pointer;
}

.title-bar > h2 {
	font-size: 1.8rem;
}

.price-info {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: $primary-light;
	background-color: $primary-pink;
	border-radius: 10px;
	padding: 1em;
	transition: height 0.2s ease-in-out;
}

.price-info > .price {
	font-size: 40pt;
}

.deposit-info {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	max-height: 0;
	transition: max-height 0.5s ease-out;
	overflow: hidden;
}

.deposit-info.expanded {
	max-height: 500px;
	transition: max-height 0.5s ease-in;
	// width: min(270px, 80%);
}

.spinner {
	max-height: 0;
	transition: max-height 0.5s ease-out;
	overflow: hidden;
}

.spinner.expanded {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	max-height: 500px;
	transition: max-height 0.5s ease-in;
}

.form-check-label {
	margin-bottom: 0.25rem !important;
}

.discount-code-group {
	margin-top: 1rem;
	font-size: 16px;
}

.cash-on-delivery-group {
	margin-bottom: 0;
}

.checkout-button {
	@extend .button;
	margin-top: 1em;
	width: 7em;
	color: $primary-light;
	background-color: $secondary-blue;
	font-weight: bold;
}

.checkout-button:disabled {
	background-color: grey;
}

.card-field {
	font-size: 15pt !important;
}

@media (min-width: 768px) {
	.title-bar > h2 {
		font-size: 2rem;
	}
}
