.checkout-wrapper {
	height: fit-content;
	display: flex;
	justify-content: center;
}

.checkout-form {
	padding: 1em;
	background-color: #ffffff;
	border-radius: 5px;
}

.checkout-button {
	@extend .button;
	margin-top: 1em;
	width: 7em;
	color: $primary-light;
	background-color: $secondary-blue;
	font-weight: bold;
}
