.customer-dashboard {
	display: flex !important;
	flex-direction: column;

	main {
		margin-bottom: 1rem;
	}

	main > h1,
	h2 {
		text-align: center;
	}

	h2 {
		font-size: 1.2rem;
	}

	aside {
		width: 100%;
	}
}

.account-update-form {
	padding: 1rem;
}

.button-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 1rem;
	padding-left: 1rem;
}

.delete-button {
	width: 100%;
	margin-top: 1rem;
}
