.tub-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 1em;
	min-width: 40%;
}

.tub-card {
	cursor: pointer;
	margin: 5px;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 3px solid $primary-blue;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	min-height: 100px;
	min-width: 100px;
	background-color: white;
}

.tub-card > .card-body {
	padding: 5px;
	color: white;
	width: 100%;
	z-index: 1;
}

.thumbnail {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
	filter: opacity(70%) brightness(30%);
	border-radius: 10px;
}

.card-body span {
	font-size: 15pt;
	display: block;
	width: fit-content;
	box-sizing: content-box;
	font-weight: bold;
}

.tub-card > .card-body > span:nth-child(2) {
	margin-top: 20px;
	color: $primary-pink;
	font-size: 12pt;
}

.tub-hire-button {
	@extend .button;
}

@media screen and (orientation: landscape) {
	.tub-list {
		flex-direction: row !important;
	}
}

@media (min-width: 800px) {
	.tub-card {
		height: 200px;
		width: 200px;
	}

	.tub-card > .card-body span {
		font-size: 24pt;
	}

	span:nth-child(2) {
		font-size: 20pt;
	}
}
