input#postcode {
	border: none;
	border-radius: 0;
	border-bottom: 2px solid #f8a0ec;
	padding: 1px 0 1.5px 6px;
	margin-bottom: 0;
	height: auto;
	width: calc(8ch + 36px);
	font-size: 16px;
	line-height: 0.9em;
	transition: width 0.5s ease-in-out;
	display: inline-block;
}

#postcode-error {
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;
	animation-duration: 0.2s;
	-webkit-animation-duration: 0.2s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	visibility: visible !important;
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
