@import '../variables.scss';

.hire-form {
	color: black;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: min(80%, 600px);
}

.hire-information {
	text-align: center;
}

.hire-submit {
	@extend .button;
	font-weight: bold;
	font-size: 16pt;
	background-color: $secondary-blue;
	color: $primary-light;
	height: 50px;
	width: 50px;
	padding: 0;
	border-radius: 50% !important;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

@media (min-width: 1080px) {
	.hire-container {
		border-radius: 10px;
		height: 100%;
	}
}

.inline-picker.hire {
	background-color: transparent;
	text-align: center;
}

.inline-picker.hire.placeholder {
	color: #495057;
}

.date-pickers {
	font-size: 16pt;
	display: inline-block;
	width: 100%;
	text-align: center;
}

@media (min-width: 768px) {
	.tub-list {
		flex-direction: row !important;
	}
}
