@import '../variables.scss';

.hire-container {
	@extend .container;
	@extend .outer;
	align-items: center;
	background-color: transparent !important;
}

.hire-background {
	height: 96%;
	width: 96%;
	filter: opacity(80%) brightness(20%);
	object-fit: cover;
	position: absolute;
	top: 2%;
	left: 2%;
	border-radius: 20px;
}

.primary-container {
	z-index: 1;
	margin: 1em;
	min-width: 40%;
	height: 100%;
}

.primary-container h1 {
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}

.hire-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.description p {
	flex-basis: 45%;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}

.description a {
	color: $secondary-blue;
}

.hire-submit {
	@extend .button;
	font-weight: bold;
	font-size: 16pt;
	background-color: $secondary-blue;
	color: $primary-light;
	width: 6em;
}

@media (min-width: 1080px) {
	.hire-container {
		border-radius: 10px;
		height: 100%;
	}
}

// TODO move hiring information to center and use row on large screens.
@media screen and (orientation: landscape) {
	.hire-container {
		margin-top: 20px;
	}

	.hire-form {
		margin-top: 20px;
		flex-direction: row !important;
		margin-bottom: 20px;
	}

	.description {
		max-width: 45%;
	}

	.tub-list {
		flex-direction: column !important;
	}
}
