@import '../variables.scss';
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.main {
	@extend .outer;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex: 1;
}

.lead-container {
	flex: 1;
	position: relative;
	height: 100%;
	min-width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
}

.hero-image {
	border-radius: 2px;
	content: '';
	height: 90%;
	width: 90%;
	filter: opacity(70%);
	object-fit: cover;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.title {
	color: $primary-dark;
	margin: 0.25em;
	font-size: 40pt;
	z-index: 1;
}

.call-to-action {
	@extend .button;
	width: 10em;
	color: $primary-dark;
	font-size: 14pt;
	font-weight: bold;
	background-color: $primary-pink !important;
	border-width: 0px;
	border-radius: 100px !important;
	margin-bottom: 0.5em;
	z-index: 1;
}

.call-to-action:active {
	background-color: #ffffff99;
	border-color: $primary-pink;
}

.details-container {
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: baseline;
}

.background-text {
	margin: 0 20px 0 20px;
	position: absolute;
	background-image: linear-gradient(45deg, $primary-pink, $primary-blue);
	background-clip: text;
	color: transparent;
	filter: opacity(30%);
	overflow: hidden;
	line-height: 0.9;
	font-size: 4.8em;
	user-select: none;
}

.introduction::before {
	position: absolute;
	transform: translateX(-10px);
	display: block;
	content: '';
	height: 100%;
	width: 6px;
	background-color: $primary-pink;
	border-radius: 3px;
}

.introduction {
	position: relative;
	margin: 0 20px 0 40px;
	font-size: 12pt;
}

.links {
	color: grey;
	margin: 0 30px 0 30px;
	z-index: 1;
}

.links > a:hover {
	text-decoration: none;
	color: lighten($color: grey, $amount: 20%);
}

@media screen and (orientation: landscape) {
	.main {
		flex-direction: row;
		align-items: center;
	}
}

@media (max-width: 350px) {
	.lead-container::after {
		background: none;
	}

	.title {
		background-image: linear-gradient(45deg, $primary-pink, $primary-blue);
		background-clip: text;
		color: transparent;
	}
}

@media (min-width: 750px) {
	.lead-container {
		height: 100%;
	}

	.details-container {
		height: 100%;
	}

	.background-text {
		font-size: 80pt;
	}

	.introduction {
		font-size: 16pt;
	}
}
