.login-container {
	@extend .container;
	align-items: center;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	width: 100%;
	height: 100%;
}

.login-form-container {
	width: min(400px, 80%);
}
