@import '../variables.scss';

.success-container {
	@extend .container;
	@extend .outer;
	padding: 1em;
}

.social-media {
	display: flex;
	min-height: fit-content;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.facebook-icon {
	@extend .icon;
	fill: #1877f2;
}

.instagram-icon {
	@extend .icon;
	fill: #e4405f;
}

.home-text {
	color: grey;
}

.home-link {
	@extend .home-text;
}

.home-link:hover {
	color: lighten($color: grey, $amount: 20%);
	text-decoration: none;
}

@media screen and (orientation: landscape) {
	// .success-container {
	// 	flex-direction: row !important;
	// }
}
