.container {
	display: grid;
	place-items: center;
}

.outer {
	@extend .container;
	border-radius: 10px;
	background-color: white;
	height: 100%;
	width: 100%;
	padding-bottom: 130px;
}

.button {
	transition-property: background background-color color;
	transition: ease-in-out 0.25s;
	min-width: fit-content;
	border: none;
	border-radius: 0.25rem;
}

.button:disabled {
	background: none;
	background-color: #ccc;
	color: #666;
}

.button:hover {
	filter: drop-shadow();
}

.icon {
	height: 2em;
	width: 2em;
	margin: 10px;
}

.spinner-custom {
	height: 2em;
}

a:hover {
	text-decoration: none;
	color: lighten($secondary-blue, $amount: 20%);
}

@media (min-width: 768px) {
	.outer {
		padding-bottom: 50px;
	}
}
