.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.outer {
	border-radius: 10px;
	background-color: white;
	min-height: 100%;
	flex-basis: 100%;
}

.button {
	transition-property: background background-color color;
	transition: ease-in-out 0.25s;
	min-width: fit-content;
	border: none;
	border-radius: 0.25rem;
}

.button:disabled {
	background: none;
	background-color: #ccc;
	color: #666;
}

.button:hover {
	filter: drop-shadow();
}

.icon {
	height: 2em;
	width: 2em;
	margin: 10px;
}

.spinner-custom {
	height: 2em;
}

a:hover {
	text-decoration: none;
	color: lighten($secondary-blue, $amount: 20%);
}
