@import '~swiper/swiper.scss';
@import '~react-bootstrap-typeahead/css/Typeahead.css';
@import '~react-datepicker/dist/react-datepicker.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './pages/home';
@import './pages/hire';
@import './pages/success';
@import './pages/sign_up';
@import './pages/failure';
@import './pages/login';
@import './components/countdown_timer';
@import './components/customer_dashboard';
@import './components/driver_dashboard';
@import './components/footer';
@import './components/header';
@import './components/manager_dashboard';
@import './components/no_availabilities';
@import './components/hot_tub';
@import './components/postcode_field';
@import './components/testimonials';
@import './components/tooltip_button';
@import './components/calendar';
@import './components/checkout_form';
@import './components/password_strength_checker';
@import 'generics.scss';

html,
body {
	margin: 0;
	padding: 0;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

body::-webkit-scrollbar {
	display: none;
}

#__next {
	position: relative;

	min-height: 100vh;
	// height: 100%;
	border: none;
	overflow: visible;
}

#__next::-webkit-scrollbar {
	display: none;
}
