@import '~react-dates/lib/css/_datepicker.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import './pages/home';
@import './pages/hire';
@import './pages/success';
@import './components/hot_tub';
@import './components/postcode_field';
@import './components/calendar';
@import './components/checkout_form';
@import 'generics.scss';

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

body::-webkit-scrollbar {
	display: none;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.page-border {
	height: 100vh;
	position: relative;
	background: linear-gradient(30deg, $primary-pink, $primary-blue);
	padding: 1%;
}

#__next {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
