@import '~react-bootstrap-typeahead/css/Typeahead.css';
@import '~react-datepicker/dist/react-datepicker.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './pages/home';
@import './pages/hire';
@import './pages/success';
@import './pages/failure';
@import './pages/login';
@import './components/driver_dashboard';
@import './components/manager_dashboard';
@import './components/no_availabilities';
@import './components/hot_tub';
@import './components/postcode_field';
@import './components/calendar';
@import './components/checkout_form';
@import 'generics.scss';

html,
body {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	min-height: 100vh;
	width: 100%;
	max-width: 100vw;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
	min-height: 100vh;
	height: 100%;
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

body::-webkit-scrollbar {
	display: none;
}

#__next {
	position: relative;
	background: linear-gradient(30deg, $primary-pink, $primary-blue);
	padding: 2%;
	min-height: 100vh;
	// height: 100%;
	border: none;
	overflow: visible;
	display: grid;
	place-items: center;
}

#__next::-webkit-scrollbar {
	display: none;
}
